---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

// 블로그 글을 날짜 순으로 가져옵니다.
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 3em 1em;
			}
			.hero-section {
				text-align: center;
				margin-bottom: 4rem;
				padding: 2rem;
				background: #f9f9f9;
				border-radius: 12px;
			}
			.hero-section h1 {
				font-size: 2.5rem;
				color: #333;
			}
			.hero-section p {
				font-size: 1.2rem;
				color: #666;
				line-height: 1.6;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1.2;
				font-size: 1.5rem;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4 {
				color: rgb(var(--accent));
			}
			@media (max-width: 720px) {
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="hero-section">
				<h1>Reconnect with Your Self</h1>
				<p>
					From isolation to connection. <br />
					Exploring the path of recovery through <strong>EEG Data, Meditation, and Jeju's Solitude.</strong>
				</p>
			</section>

			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										{post.data.pubDate.toLocaleDateString('en-us', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
										})}
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>